body {
	background: url("images/outagepage2-mobilebg.png") no-repeat;
	background-size: cover;
	background-color: #21626A;
	font-family: arial;
	min-width: 320px;
}

h2 {
	font-size: 1em;
}

.columns {
	max-width: 960px;
}

.columns .column1, .columns .column2, .columns .column3, .columns .column4 {
	font-size: 13px;
	text-align: left;
	vertical-align: top;
}

.columns .column1, .columns .column2, .columns .column3 {
	margin-top: 5px;
}

.columns .column1, .columns .column2, .columns .mbl-col4 {
	display: inline-block;
	width: 49%;
}

.columns .column3, .columns .column4 {
	width: 100%;
}

.lower {
	font-size: 13px;
	margin-bottom: 27px;
}

.responsive-separator {
	position: relative;
	width: 50%;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
}

.subscriber {
	line-height: 180%;
}

.top-text {
	font-size: 30px;
	margin: 20px 0 20px;
}

.upper {
	font-size: 14px;
	line-height: 30px;
}

.upper img {
	margin: 10px 0 0 -15px;
	max-width: 180px;
}

.upper, .lower {
	color: #FFF;
	text-align: left;
}

@media (min-width: 1000px) {
	body {
		background: url("images/outagepage2-1280.png") no-repeat;
		background-size: cover;
		background-color: #21626A;
		font-family: arial;
		min-width: 320px;
	}

	.apology {
		padding-bottom: 5px;
	}

	.columns {
		line-height: 18px;
		margin: auto;
	}

	.columns .column1, .columns .column2, .columns .column3, .columns .column4 {
		margin-top: 5px;
	}

	.columns .column1, .columns .column2, .columns .column3, .columns .column4 {
		width: 33%;
	}

	.columns .mbl-col4 {
		display: block;
		width: 100%;
	}

	.columns .column3, .columns .column4 {
		display: inline-block;
	}

	.lower {
		font-size: 16px;
		margin-bottom: 27px;
	}

	.responsive-separator {
		padding-bottom: 20%;
	}

	.subscriber {
		text-align: center;
	}

	.top-text {
		font-size: 40px;
		margin: 40px 0 20px;
	}

	.upper {
		margin-left: 40%;
		font-size: 20px;
		line-height: 30px;
		position: relative;
		top: 70px;
	}

	.upper img {
		height: 10%;
		margin-left: -30px;
		max-width: 60%;
	}
}

@media (min-width: 1200px) {
	.responsive-separator {
		padding-bottom: 200px;
	}
}

@media (min-width: 600px) and (max-width: 1000px) {
	body {
		background: url("images/outagepage3-720.png") no-repeat;
		background-size: cover;
		background-color: #21626A;
		font-family: arial;
		min-width: 320px;
	}

	.columns .column1, .columns .column2, .columns .column3, .columns .column4 {
		font-size: 16px;
	}

	.lower {
		font-size: 16px;
		margin-bottom: 27px;
	}

	.responsive-separator {
		padding-bottom: 80%;
	}

	.top-text {
		font-size: 38px;
		margin: 40px 0 20px;
	}

	.upper {
		margin: auto;
		font-size: 18px;
		line-height: 30px;
	}

	.upper img {
		height: 6%;
		max-width: 60%;
	}
}

@media (min-width:775px) and (max-width: 1000px) {
	body {
		background: url("images/outagepage2-720.png") no-repeat;
		background-size: cover;
		background-color: #21626A;
		font-family: arial;
		min-width: 320px;
	}
}

@media (min-width: 450px) and (max-width: 600px) {
	.columns .column1, .columns .column2, .columns .column3 {
		margin-top: 5px;
	}

	 .columns .column3 {
		width: 100%;
	 }

	.columns .column4 {
		width: 100%;
	}

	.columns .column1, .columns .column2, .columns .column3, .columns .column4 {
		font-size: 16px;
	}

	.lower {
		font-size: 16px;
		margin-bottom: 27px;
	}

	.responsive-separator {
		padding-bottom: 100%;
	}

	.top-text {
		font-size: 36px;
	}

	.upper {
		font-size: 18px;
		line-height: 30px;
	}
}
